.employee-form {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.side-navbar{
    width: 16%;
}
.employee-form h5 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 30px 15px;
}
.form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.image-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* width: 12%; */
}
.image-field p{
    margin-left: 20px;
}
.image-field img {
    height: 85px;
    width: 85px;
    border-radius: 45px;
    margin-right: 30px;
}
.information-field {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.information-field p {
    font-size: 1.5rem;
    margin: 0px 0px;
}
.information-field p:first-child{
    margin-top:30px;
}
.input-id{
    margin-top: 30px;
}

.input-id label {
    font-size: 1rem;
}
.input-id input {
    height: 40px;
    width: 250px;
    border: 2px solid rgb(223, 225, 230);
    font-size: 1rem;
}

.personal-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.personal-information div {
    margin-top: 30px;
    margin-right: 20px;
    width: 26.8%;
}
.personal-information div input {
    height: 40px;
    width: 98.5%;
}
.employment-header {
    margin-top: 30px;
}
.employment-header p {
    margin: 0px 0px;
}
.employment-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.employment-details div {
    width: 40.6%;
    margin-top: 30px;
    margin-right: 20px;
}
.employment-details div input {
    height: 40px;
    width: 98.5%;
    margin: 0px 0px;
    padding: 0px 0px;
    border: 2px solid rgb(223, 225, 230);
    color: rgb(168, 172, 176);
    font-size: 0.9rem;
}

.employment-details select {
    width: 100%;
    height: 40px;
    border: 2px solid rgb(223, 225, 230);
}

.submission-btns {
    margin-top: 70px;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
}

/* .submission-btns div {
    margin-left: 50%;
    margin-bottom: 90px;
} */

.submission-btns button {
    width: 125px;
    height: 35px;
    background-color: rgb(251, 235, 235);
    color: var(--color2);
    border-radius: 10px;
    border: none;
    margin-right: 20px;
}

.submission-btns button:hover,
.submission-btns button:active {
    background-color: rgb(244, 72, 72);
    color: white;
    border-radius:20px;
}
.toast{
    /* display:none; */
    background-color: #fff;
    border-radius:10px;
    padding:20px 20px;
    width:20%;
    position:absolute;
    top:20px;
    right:30px;
    border-left: 6px solid rgb(86, 148, 86);
    background-color: rgb(201, 235, 201);
    cursor:pointer;
    overflow:hidden;
    transform: translateX(calc(100% + 30px));
}
.toast .active{
    transform: translateX(0%);
}
.toast .toast-content{
    display:flex;
    align-items: center;
    padding-left:10px;
    img{
        width:20px;
        height:20px;
        margin-right:15px;
    }
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    align-items:left;
    margin:0px 0px;
}
.toast .progress{
    position:absolute;
    bottom:0px;
    left:0px;
    height:3px;
    width:100%;
    background: #fff;
}
.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0px;
    right:0px;
    height:100%;
    width:100%;
    background:green;
}
